name: Label new issues as needs-triage and add to CodeFlare Sprint Board
on:
  issues:
    types:
      - opened
jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.5.0
        with:
          project-url: https://github.com/orgs/project-codeflare/projects/8
          github-token: ${{ secrets.CODEFLARE_MACHINE_ACCOUNT_TOKEN }}
